/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Madimi+One&display=swap')

@layer base {
    h1 {
        @spply font-heading;
    }
}